---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*================================================================*/
// Variables
/*================================================================*/
$base-font-family: "ff-tisa-web-pro", "georgia", serif;
$secondary-font-family: "neuzeit-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
$tertiary-font-family: "inconsolata", "ff-tisa-web-pro", "georgia", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$base:             #252525;
$secondary:        #ffffff;
$text-color:       $base;
$background-color: $secondary;

$alt-one:          #FFDD69;
$alt-two:          #F7BF60;
$alt-three:        #FF9D5D;
$alt-four:         #E06351;
$alt-four:         #ffffff;
$alt-five:         #F7BF60;


$large-mobile:     414px;
$tablet:           630px;
$small-desktop:    900px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize", "base";
