body {
  font-family: $base-font-family;

  padding: 24px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: $secondary-font-family;
  font-size: .825em;
  font-weight: 500;

  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;

  color: $alt-four;

  @media screen and (min-width: 520px) {
    font-size: 1em;
  }
}

header {
  padding-top: 2em;

  @media screen and (min-width: 520px) {
    padding-top: 4em;
  }

  img {
    display: block;

    width: 50px;
    margin: 0 auto;

    text-align: center;
  }
}

.about {
  font-size: 1em;
  line-height: 1.45;

  padding: 2em;

  text-align: center;

  color: $alt-four;

  @media screen and (min-width: 520px) {
    font-size: 1.75em;
  }

  a {
    text-decoration: none;

    border-bottom: 1px solid $alt-four;

    &:hover {
      border: 0;
    }
  }

  span {
    display: block;
  }
}

a {
  text-decoration: none;

  color: $alt-four;
}

.networks,
.work,
.contact,
.colophon {
  font-size: .825em;
  line-height: 1.6;

  float: left;

  width: 50%;
  margin-bottom: 2em;

  @media screen and (min-width: 520px) {
    font-size: 1em;
  }

  @media screen and (min-width: 520px) {
    width: 33%;
  }
}

.colophon {
  @media screen and (min-width: 520px) {
    float: none;

    margin-right: auto;
    margin-left: auto;
  }
}

ul {
  padding: 0;

  list-style: none;

  text-align: center;

  li {
    font-family: $tertiary-font-family;
    font-size: .875em;

    color: $alt-four;
  }
}

.colophon {
  p {
    font-family: $tertiary-font-family;
    font-size: .875em;

    max-width: 240px;
    margin: 0 auto;

    text-align: center;

    color: $alt-four;
  }
}
